<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.sanne.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="pers.sanne.domain.Record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_negative" jdbcType="BIT" property="isNegative" />
  </resultMap>

</mapper>